<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>WebApp-Vulnscan :: Report</title>
	<style type='text/css'>		
		<%= ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.css')).result(binding) %>
		<%= ERB.new(File.read('./lib/static/main.css')).result(binding) %>
	</style>
	<% if $configs[:embed_javascript].eql? true %>
		<%= ERB.new(File.read('./lib/static/jquery-1.7.2.min.js')).result(binding) %>
		<%= ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.min.js')).result(binding) %> %>
	<% else %>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
	<% end %>
	
	<script type='text/javascript'>
		function toggle_payload(filetype, payload){
			//modify the nav item
			$('div#filetype_' + filetype + ' div.column_nav ul li.' + payload + ' a').toggleClass('payload_hidden');
			//hide the payload
			$('div#filetype_' + filetype + ' div.payload_' + payload).fadeToggle();
		}
		
		// initialize the tabbed display
		jQuery(document).ready(function(){
			$('div#main').tabs();
		});
	</script>
</head>
<body>
	<div id='masthead'>
		<h1>chris-allen-lane.com</h1>
		<h2>Source Code Audit (Generated <%= Date.today.strftime("%Y-%m-%d") %>)</h2>
	</div>

	<div id='main'>
		<!-- tab navigation -->
		<ul>
			<%  $payloads.each do |key, deep_hash|  %>
			<%= "<li><a href='#filetype_#{key}'>#{key}</a></li>" %>
			<% end %>
		</ul>
		
		<%
		# implement special behavior on the first pass through
		first_pass = true
		
		# iterate over the points of interest
		vulnscanner.points_of_interest.each_with_index do |point, index|
			next_point = vulnscanner.points_of_interest[index + 1]
			last_point = vulnscanner.points_of_interest[index - 1]
		
			# if we're on the last point, nil guard
			if next_point.nil?
				next_point = point.clone
				next_point.file_type = ''
				next_point.match     = ''
			end
		
			# if we're on the first point, guard wrap-around
			if index == 0
				last_point = point.clone
				last_point.file_type = ''
				last_point.match     = ''
			end
			
			#puts "<br>" + h(point.to_yaml)
			#puts "<br>" + h(next_point.to_yaml)
			#puts "<br>" + h(last_point.to_yaml)
			#puts "<br><br>"
			
		%>
		<% if first_pass or (point.file_type != next_point.file_type) %>
		<!-- @filetype -->
		<div id='filetype_<%= point.file_type %>'>
			<div class='column_nav'>
				<ul>
					<% $payloads[point.file_type.to_sym].each do |payload_group, payloads| %>
					<% for payload in payloads
						@payload_hash = Digest::MD5.hexdigest(payload)
					%>
					<li class='<%= @payload_hash %>'><code><a href='javascript:toggle_payload("<%= point.file_type %>","<%= @payload_hash %>")'><%= h payload %></a></code></li>
					<% end %>
					<% end %>
				</ul>
			</div>
			
			<div class='column_content'>
				<h2><%= h point.file_type %></h2>
		<% end %>
		
				<% if first_pass or (point.match != next_point.match) %>
				<div class='payload_<%= @payload_hash %>'>
					<!-- payload -->
					<h3><code><%= h point.match %></code></h3>
				<% end %>

					<!-- point of interest -->
					<div class='point_of_interest'>
						<span class='file_name'><%= h point.file %></span>
						<span class='file_type'><%= h point.file_type %></span>
						<span class='line_number'><%= h point.line_number %></span>
						<span class='match'><%= h point.match %></span>
						<p class='snippet'><code><%= h point.snippet %></code></p>
					</div> <!-- poi -->
				
				<% unless point.match.eql? next_point.match %>
				</div> <!-- @close_payload -->
				<% end %>
				
			<% unless point.file_type.eql? next_point.file_type %>
			</div> <!-- column_content -->
		</div> <!-- @close_filetype -->
		
		<%
				first_pass = false
			end 
		end
		%>
		
	</div> <!-- main -->

	<p id='footer'>This is the footer</p>

</body>
</html>
