<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>WebApp-Vulnscan :: Report</title>
	<style type='text/css'>		
		<%# = ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.css')).result(binding) %>
		<%# = ERB.new(File.read('./lib/static/main.css')).result(binding) %>
	</style>
	<link rel='stylesheet' type='text/css' href='./jquery-ui-1.8.19.custom.css'>
	<link rel='stylesheet' type='text/css' href='./main.css'>
	<% if $configs[:embed_javascript].eql? true %>
		<%= ERB.new(File.read('./lib/static/jquery-1.7.2.min.js')).result(binding) %>
		<%= ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.min.js')).result(binding) %> %>
	<% else %>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
	<% end %>
	
	<script type='text/javascript'>
		
		function togglePayloadGroup(group){
			alert(group);
			$('div.payload_group_' + group).fadeToggle();
		}
		
		function toggle_payload(filetype, payload){
			//modify the nav item
			$('div#filetype_' + filetype + ' div.column_nav ul li.' + payload + ' a').toggleClass('payload_hidden');
			//hide the payload
			$('div#filetype_' + filetype + ' div.payload_' + payload).fadeToggle();
		}
		
		// hide's each poi's content
		function poiHideContent(obj){
			next_text = ($(obj).text() == 'Hide') ? 'Show' : 'Hide';
			$(obj).text(next_text);
			$(obj).siblings('div.poi_content').fadeToggle();
		}
		
		// initialize the tabbed display
		jQuery(document).ready(function(){
			$('div#main').tabs();
		});
	</script>
</head>
<body>
	<div id='masthead'>
		<h1>chris-allen-lane.com</h1>
		<h2>Source Code Audit (Generated <%= Date.today.strftime("%Y-%m-%d") %>)</h2>
	</div>

	<div id='main'>
		<!-- tab navigation -->
		<ul>
			<% vulnscanner.points_of_interest_sorted.each do |sym_file_type, dontcare| %>
			<%= "<li><a href='#filetype_#{sym_file_type.to_s}'>#{sym_file_type.to_s}</a></li>" %>
			<% end %>
		</ul>
		









		
		<% vulnscanner.points_of_interest_sorted.each do |sym_file_type, payload_groups|%>
		<!-- @filetype -->
		<div id='filetype_<%= sym_file_type.to_s %>'>
			<div class='column_nav'>
				<% payload_groups.each do |payload_group, payloads| %>
				<h3><a onclick='javascript:togglePayloadGroup("<%= payload_group.to_s %>")'><%= payload_group.to_s.gsub('_', ' ') %></a></h3>
				<ul>
					<%
					payloads.each do |payload, points|
						# we only need to calculate this hash once
						@payload_hash = Digest::MD5.hexdigest(payload.to_s)
					%>
					<li class='<%= @payload_hash %>'><code><a href='javascript:toggle_payload("<%= sym_file_type.to_s %>","<%= @payload_hash %>")'><%= h payload.to_s %></a></code></li>
					<% end %>
				</ul>
				<% end %>
			</div>
			
			<div class='column_content'>
				<h2><%= sym_file_type.to_s %></h2>
				<%
				payload_groups.each do |payload_group, payloads|
					payloads.each do |payload, points|
						# we only need to calculate this hash once
						@payload_hash = Digest::MD5.hexdigest(payload.to_s)
				%>
				<div class='payload_<%= Digest::MD5.hexdigest(payload.to_s) %> payload_group_<%= payload_group.to_s %>'>
					<h3><code><%= h payload.to_s %></code></h3>
					<% points.each do |point|%>
					<div class='point_of_interest'>
						<span class='file_name'><%= h point.file %></span>
						<a class='poi_hide_content' onclick='javascript:poiHideContent(this)'>Hide</a>
						<div class='poi_content'>
							<span class='file_type'><%= h point.file_type %></span>
							<span class='line_number'><%= h point.line_number %></span>
							<span class='match'><%= h point.match %></span>
							<p class='snippet'><code><%= h point.snippet %></code></p>
						</div>
					</div>
					<% end %>
				</div>
				<% end 
				end
				%>
				
			</div> <!-- column_content -->
		</div> <!-- @close_filetype -->
		<% end %>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div> <!-- main -->
	<p id='footer'>This is the footer</p>
</body>
</html>
