<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>WebApp-Vulnscan<%= (opts[:project_name_given]) ? (':: ' + opts[:project_name]) : '' %></title>
	<style type='text/css'>		
	<%# = ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.css')).result(binding) %>
	<%# = ERB.new(File.read('./lib/static/main.css')).result(binding) %>
	</style>
	<link rel='stylesheet' type='text/css' href='///home/chris/Source/terminal/cal-webapp-vulnscan/lib/static/jquery-ui-1.8.19.custom.css'>
	<link rel='stylesheet' type='text/css' href='///home/chris/Source/terminal/cal-webapp-vulnscan/lib/static/main.css'>
	<% if $configs[:embed_javascript].eql? true %>
	<script type='text/javascript'>
	<%= ERB.new(File.read('./lib/static/jquery-1.7.2.min.js')).result(binding) %>
	<%= ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.min.js')).result(binding) %>
	</script>
	<% else %>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
	<% end %>
	
	<script type='text/javascript'>
		// shows/hides payload groups
		function togglePayloadGroup(obj, group){
			sym     = $(obj).children('span.expand_collapse').text();
			new_sym = (sym == '-') ? '+' : '-' ;
			$(obj).children('span.expand_collapse').text(new_sym);
			$('ul.payload_group_' + group).fadeToggle();
			$('div.payload_group_' + group).fadeToggle();
		}
		// shows/hides an individual payload
		function togglePayload(filetype, payload){
			obj      = $('div#filetype_' + filetype + ' div.column_nav ul li.' + payload + ' a').last();
			new_text = ($(obj).text() == 'Show') ? 'Hide' : 'Show' ;
			$(obj).text(new_text);
			
			//modify the nav item
			$('div#filetype_' + filetype + ' div.column_nav ul li.' + payload + ' a').toggleClass('payload_hidden');
			//hide the payload
			$('div#filetype_' + filetype + ' div.payload_' + payload).fadeToggle();
		}
		/*
		// shows/hides an individual payload
		function togglePayload(obj, filetype, payload){
			new_text = ($(obj).text() == 'Show') ? 'Hide' : 'Show' ;
			$(obj).text(new_text);
			//modify the nav item
			$('div#filetype_' + filetype + ' div.column_nav ul li.' + payload + ' a').toggleClass('payload_hidden');
			//hide the payload
			$('div#filetype_' + filetype + ' div.payload_' + payload).fadeToggle();
		}
		*/
		// hides each poi's content
		function poiHideContent(obj){
			next_text = ($(obj).text() == 'Hide') ? 'Show' : 'Hide';
			$(obj).text(next_text);
			$(obj).siblings('div.poi_content').fadeToggle();
		}
		// initializes the tabbed display
		jQuery(document).ready(function(){
			$('div#main').tabs();
		});
	</script>
</head>
<body>
	<div id='masthead'>
		<% if opts[:project_name_given] %>
		<h1><%= opts[:project_name] %></h1>
		<% else %>
		<h1><%= opts[:scan_dir] %></h1>
		<% end %>
		<h2>Source Code Audit (Generated <%= Date.today.strftime("%Y-%m-%d") %>)</h2>
		<noscript>
			<p class='warning'>WARNING: You have JavaScript disabled. You
			will not have access to this report's advanced functionality.</p>
		</noscript>
	</div>

	<div id='main'>
		<!-- tab navigation -->
		<ul>
			<% vulnscanner.points_of_interest_sorted.each do |sym_file_type, dontcare| %>
			<%= "<li><a href='#filetype_#{sym_file_type.to_s}'>#{sym_file_type.to_s}</a></li>" %>
			<% end %>
		</ul>


		<% vulnscanner.points_of_interest_sorted.each do |sym_file_type, payload_groups|%>
		<!-- @filetype -->
		<div id='filetype_<%= sym_file_type.to_s %>'>
			<div class='column_nav'>
				<% payload_groups.each do |payload_group, payloads| %>
				<h3><a onclick='javascript:togglePayloadGroup(this, "<%= payload_group.to_s %>")'><%= payload_group.to_s.gsub('_', ' ') %> [<span class='expand_collapse'>-</span>]</a></h3>
				<ul class='payload_group_<%= payload_group.to_s %>'>
					<%
					payloads.each do |payload, points|
						# we only need to calculate this hash once
						@payload_hash = Digest::MD5.hexdigest(payload.to_s)
					%>
					<li class='<%= @payload_hash %>'>
						<code><a href='#<%= @payload_hash %>'><%= h payload.to_s %></a></code>
						<span class='payload_count'>(<%= points.count %>)</span>
						<a class='show_hide' onclick='togglePayload("<%= sym_file_type.to_s %>","<%= @payload_hash %>")'>Hide</a>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
			
			<div class='column_content'>
				<h2><%= sym_file_type.to_s %></h2>
				<% payload_groups.each do |payload_group, payloads|
					payloads.each do |payload, points|
						# we only need to calculate this hash once
						@payload_hash = Digest::MD5.hexdigest(payload.to_s)
				%>
				<div class='payload_<%= @payload_hash %> payload_group_<%= payload_group.to_s %>'>
					<a name='<%= @payload_hash %>'></a>
					<h3>
						<code><%= h payload.to_s %></code>
						<span class='payload_count'>(<%= points.count %>)</span>
						<span class='top_hide'>
							<a href='#'>Top</a> |
							<a onclick='togglePayload("<%= sym_file_type.to_s %>","<%= @payload_hash %>")'>Hide</a>
						</span>
					</h3>
					<% points.each do |point|%>
					<div class='point_of_interest'>
						<span class='file_name'><%= h point.file %></span>:<span class='line_number'><%= h point.line_number %></span>
						<a class='poi_hide_content' onclick='javascript:poiHideContent(this)'>Hide</a>
						<div class='poi_content'>
							<p class='snippet'><code><pre><%= h point.snippet %></pre></code></p>
						</div>
					</div>
					<% end %>
				</div>
				<% end 
				end
				%>
				
			</div> <!-- column_content -->
		</div> <!-- @close_filetype -->
		<% end %>

	</div> <!-- main -->
	
	<% unless $configs[:footer_text].empty? %>
	<p id='footer'><%= $configs[:footer_text] %></p>
	<% end %>
</body>
</html>
