<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>WebApp-Vulnscan :: Report</title>
	<style type='text/css'>
		<%= dochead[:stylesheet_1] %>
		<%= dochead[:stylesheet_2] %>
	</style>
	<% if $configs[:embed_javascript].eql? true %>
		<%= dochead[:jquery] %>
		<%= dochead[:jquery_ui] %>
	<% else %>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
	<% end %>
	
	<script type='text/javascript'>
		function toggle_payload(filetype, payload){
			//modify the nav item
			$('div#filetype_' + filetype + ' div.column_nav ul li.' + payload + ' a').toggleClass('payload_hidden');
			//hide the payload
			$('div#filetype_' + filetype + ' div.payload_' + payload).fadeToggle();
		}
		
		// initialize the tabbed display
		jQuery(document).ready(function(){
			$('div#main').tabs();
		});
	</script>
</head>
<body>
	<div id='masthead'>
		<h1>chris-allen-lane.com</h1>
		<h2>Source Code Audit (Generated <%= Date.today.strftime("%Y-%m-%d") %>)</h2>
	</div>

	<div id='main'>
		<!-- tab navigation -->
		<ul>
			<%  $payloads.each do |key, deep_hash|  %>
			<%= "<li><a href='#filetype_#{key}'>#{key}</a></li>" %>
			<% end %>
		</ul>
		
		<%
		last_file_type = ''
		last_payload   = ''
		first_pass     = true
		for point in vulnscanner.points_of_interest
		%>
		<% unless point.file_type.eql? last_file_type %>
		<!-- @filetype -->
		<div id='filetype_<%= point.file_type %>'>
			<div class='column_nav'>
				<ul>
					<% $payloads[point.file_type.to_sym].each do |payload_group, payloads| %>
					<% for payload in payloads %>
					<li class='<%=  Digest::MD5.hexdigest(payload) %>'><code><a href='javascript:toggle_payload("<%= point.file_type %>","<%= Digest::MD5.hexdigest(payload) %>")'><%= h payload %></a></code></li>
					<% end %>
					<% end %>
				</ul>
			</div>
			
			<div class='column_content'>
				<h2><%= h point.file_type %></h2>
		<% end %>
		
				<% unless point.match.eql? last_payload %>
				<div class='payload_require_once'>			
					<!-- payload -->
					<h3><code><%= h point.match %></code></h3>
				<% end %>

					<!-- point of interest -->
					<div class='point_of_interest'>
						<span class='file_name'><%= h point.file %></span>
						<span class='line_number'><%= h point.line_number %></span>
						<p class='snippet'><code><%= h point.snippet %></code></p>
					</div> <!-- poi -->
				
				<% unless point.match.eql? last_payload %>	
				</div> <!-- payload -->
				<% end %>
				
			<% unless point.file_type.eql? last_file_type or first_pass == true %>
			</div> <!-- column_content -->
		</div> <!-- filetype -->
		<% end %>
		
		<%
		last_file_type = point.file_type		
		last_payload   = point.match
		first_pass     = false
		end
		%>
		
	</div> <!-- main -->

	<p id='footer'>This is the footer</p>

</body>
</html>
