<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>Watchtower<%= (opts[:project_name_given]) ? (' :: ' + opts[:project_name]) : '' %></title>
	<style type='text/css'>
	<%
	unless $configs[:stylesheets].empty?
		$configs[:stylesheets].each do |stylesheet|
	%>
	<%= ERB.new(File.read(stylesheet)).result(binding) %>
	<%
		end
	end
	%>
	</style>
	<% if $configs[:embed_javascript].eql? true %>
	<script type='text/javascript'>
	<%= ERB.new(File.read('./lib/static/jquery-1.7.2.min.js')).result(binding) %>
	<%= ERB.new(File.read('./lib/static/jquery-ui-1.8.19.custom.min.js')).result(binding) %>
	</script>
	<% else %>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
	<% end %>
	<script type='text/javascript'>
	<%= ERB.new(File.read('./lib/static/wt.js')).result(binding) %>
	<%= ERB.new(File.read('./lib/static/wt.datastore.js')).result(binding) %>
	<%= ERB.new(File.read('./lib/static/wt.poi.js')).result(binding) %>
	<%= ERB.new(File.read('./lib/static/wt.signature.js')).result(binding) %>
	<%= ERB.new(File.read('./lib/static/main.js')).result(binding) %>
	</script>
</head>
<body>
	<div id='control_bar'>
		<div class='inner'>
			<div class='highlighting'>
				Highlighting:
				<a href='javascript:void(0)' onclick='javascript:wt.set_highlight("on")'>On</a> |
				<a href='javascript:void(0)' onclick='javascript:wt.set_highlight("off")'>Off</a>
			</div>
			
			<div class='show'>
				Show:
				<a href='javascript:showPoi("all")'>All</a> | 
				<a href='javascript:showPoi("ok")'>OK</a> | 
				<a href='javascript:showPoi("dubious")'>Dubious</a> |
				<a href='javascript:showPoi("bad")'>Bad</a>
			</div>
		</div>
	</div>
	
	<div id='container'>
		<div id='masthead'>
			<div id='masthead_left'>
				<% if opts[:project_name_given] %>
				<h1><%= opts[:project_name] %></h1>
				<% else %>
				<h1><%= opts[:scan_dir] %></h1>
				<% end %>
				<p>Source Code Audit - <em><%= Date.today.strftime("%Y-%m-%d") %></em>
					<% unless $configs[:client_name].empty? %>
					<br>Prepared for <em><%= $configs[:client_name] %></em>
					<% end %>
				</p>
			</div>
			
			<% unless $configs[:header_text].empty? %>
			<%= $configs[:header_text] %>
			<% end %>
			
			<noscript>
				<p class='warning'>WARNING: You have JavaScript disabled. You
				will not have access to this report's advanced functionality.</p>
			</noscript>
            
                <p class='warning' id='no_storage'>Your browser does not support HTML 5
                Local Storage. Your work will not be saved.</p>
		</div>

		<div id='main'>
			<!-- tab navigation -->
			<ul>
				<% vulnscanner.points_of_interest_sorted.each do |sym_file_type, dontcare| %>
				<%= "<li><a href='#filetype_#{sym_file_type.to_s}'>#{sym_file_type.to_s}</a></li>" %>
				<% end %>
			</ul>

			<% vulnscanner.points_of_interest_sorted.each do |sym_file_type, signature_groups|%>
			<!-- @filetype -->
			<div id='filetype_<%= sym_file_type.to_s %>'>
				<div class='column_nav'>
                    <span class='pin'><a href='javascript:togglePin()'>pin</a></span>
					<% signature_groups.each do |signature_group, signatures| %>
					<h3><a onclick='javascript:wt.signature.toggle_group(this, "<%= signature_group.to_s %>")'><%= signature_group.to_s.gsub('_', ' ') %> [<span class='expand_collapse'>-</span>]</a></h3>
					<ul class='signature_group_<%= signature_group.to_s %>'>
						<%
						signatures.each do |signature, points|
							# we only need to calculate this hash once
							@signature_hash = Digest::MD5.hexdigest(signature.to_s)
						%>
						<li class='<%= @signature_hash %>'>
							<code><a href='#pl_<%= @signature_hash %>'><%= h signature.to_s %></a></code>
							<span class='signature_count'>(<%= points.count %>)</span>
							<a class='show_hide' onclick='wt.signature.toggle("<%= sym_file_type.to_s %>","<%= @signature_hash %>")'>Hide</a>
						</li>
						<% end %>
					</ul>
					<% end %>
				</div>
				
				<div class='column_content'>
					<h2><%= sym_file_type.to_s %></h2>
					<% signature_groups.each do |signature_group, signatures|
						signatures.each do |signature, points|
							# we only need to calculate this hash once
							@signature_hash = Digest::MD5.hexdigest(signature.to_s)
					%>
					<div class='signature_<%= @signature_hash %> signature_group_<%= signature_group.to_s %> signature_group'>
						<a name='pl_<%= @signature_hash %>'></a>
						<h3>
							<code><%= h signature.to_s %></code>
							<span class='signature_count'>(<%= points.count %>)</span>
							<span class='top_hide'>
								<a href='#'>Top</a> |
								<a onclick='wt.signature.toggle("<%= sym_file_type.to_s %>","<%= @signature_hash %>")'>Hide</a>
							</span>
						</h3>
						<div class='sortable'>
                            <%
                                current_poi = 0
                                points.each do |point|
                                    current_poi += 1
                            %>
							<div class='point_of_interest'>
								<span class='file_name'><%= h point.file %></span>:<span class='line_number'><%= h point.line_number %></span>
                                <span class='match_count'>(<%= current_poi %>/<%= points.count %>)</span>
								<span class='poi_mark_content'>
									<a class='poi_ok' onclick='javascript:wt.poi.mark(this, "ok")'>OK</a> |
									<a class='poi_dubious' onclick='javascript:wt.poi.mark(this, "dubious")'>Dubious</a> |
									<a class='poi_bad' onclick='javascript:wt.poi.mark(this, "bad")'>Bad</a> |
									<a class='poi_hide' onclick='javascript:wt.poi.mark(this)'>Hide</a>
								</span>
								<div class='poi_content'>
									<%
									# apply highlighting to the signature matches								
									snippet_safe = h point.snippet
									match_safe   = h point.match
									snippet_highlighted = snippet_safe.gsub(match_safe, "<span class='match_highlight'>#{match_safe}</span>")
									%>
									<pre class='snippet'><code><%= snippet_highlighted %></code></pre>
								</div>
							</div>
							<% end %>
						</div>
					</div>
					<% end 
					end
					%>
					
				</div> <!-- column_content -->
			</div> <!-- @close_filetype -->
			<% end %>

		</div> <!-- main -->
		
		<% unless $configs[:footer_text].empty? %>
		<p id='footer'><%= $configs[:footer_text] %></p>
		<% end %>
	</div>
</body>
</html>
